<footer class="text-center text-lg-start" style="background-color: #5a1b1f;">
  <div class="container d-flex justify-content-center py-4">
    <!-- Facebook -->
    <a href="https://www.facebook.com/cautioncoffeeph/" target="_blank" class="btn btn-floating mx-2" style="background-color: #000; border: none; border-radius: 50%; width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
      <i class="fab fa-facebook-f" style="color: #F5F5DC; font-size: 20px;"></i>
    </a>
    <!-- Email -->
    <a href="mailto:info@cautioncoffeesupply.com" target="_blank" class="btn btn-floating mx-2" style="background-color: #000; border: none; border-radius: 50%; width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
      <i class="fas fa-envelope" style="color: #F5F5DC; font-size: 20px;"></i>
    </a>
    <!-- Instagram -->
    <a href="https://www.instagram.com/cautioncoffeeph/" target="_blank" class="btn btn-floating mx-2" style="background-color: #000; border: none; border-radius: 50%; width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
      <i class="fab fa-instagram" style="color: #F5F5DC; font-size: 20px;"></i>
    </a>
    <!-- Google Maps -->
    <a href="https://www.google.com/maps?gs_lcrp=EgZjaHJwLUNyNBgAIAAoAEoHhAIAEAAYgJABABGEEYFAABOgUIABAIaABwAHgAgAFYiAGdDZIBAzIExAEBsAEAwAEB&sclient=psy-ab" target="_blank" class="btn btn-floating mx-2" style="background-color: #000; border: none; border-radius: 50%; width: 40px; height: 40px; padding: 0; display: flex; align-items: center; justify-content: center;">
      <i class="fas fa-map-marker-alt" style="color: #F5F5DC; font-size: 20px;"></i>
    </a>
  </div>
  <div class="text-center text-white p-3" style="background-color: #5a1b1f;">
    &copy; 2024 Caution Coffee and Supply. All rights reserved.
  </div>
</footer>
