*{
  font-family: "Playfair Display", serif;
  
}

.best-sellers{
  margin: 0px;
}

button {
  all: unset;
}

nav,footer{
  background-color: #e8e8e1;
}

#location{
  background-color: #e8e8e1;
}

.coffeenbrewgear input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.coffeenbrewgear input[type=number]{
  text-align: center;
}

button:focus {
  outline: revert;
}

#logo{
    width: 200px;
    height: 50px;
}

@media only screen and (min-width: 990px) {

    #navbarSupportedContent, #navbar3{
      display: none !important;
    }

    #navbar1, #navbar2{
      display: flex !important;
      z-index: 1;
    }

    #threeWords{
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 124px;
    }

    #threeIcons{
      display: none;
    }

}

@media only screen and (max-width: 989px) {
    #navbar1, #navbar2, #navbar3{
      display: none !important;
    }

    #threeWords{
      display: none;
    }

    #threeIcons{
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 124px;
    }
}

@media (max-width: 767px) {
    #logo {
      width: 50px !important;
      height: 50px !important;
    }
}