*{
  font-family: "Playfair Display", serif;
  
}

.best-sellers{
  margin: 0px;
}

header{
  background-color: #752329 !important;
}

header a{
  color: #F5F5DC !important;
}

.dropdown-menu a{
  color: #212529 !important;
}

/*PARA MAGRESET LANG YUNG MGA FORM BUTTONS*/
button {
  all: unset;
}
/*PARA MAGRESET LANG YUNG MGA FORM BUTTONS*/

/*feature cards*/
.card {
  transition: transform 0.6s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}
.card-img-top {
  height: 200px; 
  object-fit: cover;
}

footer {
    margin-top: 0;
}



.coffeenbrewgear input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.coffeenbrewgear input[type=number]{
  text-align: center;
}

button:focus {
  outline: revert;
}


#logo{
  width: 200px;
  height: 50px;
}


@media only screen and (min-width: 990px) {

    #navbarSupportedContent, #navbar3{
      display: none !important;
    }

    /*.mob-btn{
      display: none !important;
    }*/


    #navbar1, #navbar2{
      display: flex !important;
      z-index: 1;
    }

    #threeWords{
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 124px;
    }

    #threeIcons{
      display: none;
    }

    .tab-phone-logo{
      display:none !important;
    }

    /*.mob-btn{
      display: none !important;
    }*/

    .tab-btn{
      display:none important;
    }

}

@media only screen and (max-width: 989px) {
    #navbar1, #navbar2, #navbar3{
      display: none !important;
    }

    #threeWords{
      display: none;
    }

    #threeIcons{
      z-index: 1;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 124px;
    }

    /*.desk-tab-btn{
      display: none !important;
    }*/

    /*.desk-logo{
      display:none !important;
    }

    .tab-phone-logo{
      max-width: 100%;
    }*/

    .infographic{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 60%; 
      max-width: 750px;
    }

    
}

@media (max-width: 767px) {

    #logo {
      width: 50px !important;
      height: 50px !important;
    }

    /*.desk-logo{
      display:none !important;
    }*/

    /*.desk-tab-btn{
      display: none !important;
    }*/

    .infographic{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%; 
      max-width: 750px;
    }
}